{% extends 'base.html' %}
{% block content %}

{% if ticker %}
	{{ ticker }}
{% endif %}

<h1>Welcome to StockQuotes</h1>
<br/>
<br/>

{% if api %}
	{% if api == "Error..." %}
		<div class="alert alert-danger" role="alert">
			<strong>Error: </strong>{{ error }}
        </div>
        
		There was a problem with the api or your ticker symbol, please try again...
	
	{% else %}
		
		<h1>{{ api.companyName }}</h1><br/>
		<h3>({{ api.symbol}})</h3><br/>
		<b>Price: ${{ api.latestPrice }}<br/></b>
		Previous Close: ${{ api.previousClose }}<br/>
		
		Market Cap: {{ api.marketCap }}<br/>
		Volume: {{ api.latestVolume }}<br/>
		PE Ratio: {{ api.peRatio }} </br></br>

		Percent Change: {{ api.changePercent }}</br>	
		YTD Change: {{ api.ytdChange }}<br/></br>

		52Wk High: {{ api.week52High }}<br/>
		52Wk Low: {{ api.week52Low }}<br/></br>

		Open: ${{ api.open }}<br/>
		High: ${{ api.high }}<br/>
		Low: ${{ api.low }}<br/>
		Close: ${{ api.close }}<br/>

<!-- 	to list all api key: value pairs
		{% for key, value in api.items %}
			{{ key }}: {{ value }} </br>
		{% endfor %} -->

		
	{% endif %}
{% endif %}


{% endblock %}